<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/error_layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div layout:fragment="content">
	<div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    500 Internal Server Error</h2>
                <div class="error-details">
                    Sorry, an error has occured
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Go To Main </a>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
<script th:inline="javascript">
</script>
</th:block>
</body>
</html>