<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/main_layout}">
<head>
<meta charset="UTF-8">
</head>
<div layout:fragment="content">
	<section>
		<div>
			<h1 class="float-left">관리자 페이지</h1>
			
		</div>
		<div>
			<button class="float-right btn btn-success new-article">공지글 쓰기</button>
		</div>
	</section>
</div>
<th:block layout:fragment="script">
<script th:inline="javascript">
$(".new-article").click(function(e){
	e.preventDefault();
	window.location.href = "/admin/add";
});
</script>
</th:block>
</html>