<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>인뮤니티</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
	integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{'/css/after_login.css'}">
<style>
</style>
</head>
<body>
	<div class="container">
		<div class="row" th:insert="fragments/header :: header"></div>
		
		
		<div class="container-fluid">
  			<div class="row">
    			<div class="col my-sidebar">
    				<div class="card">
  						<div class="card-body">
    						<h5 class="card-title">[[#{my.info}]]</h5>
  						</div>
					</div>
					<div class="card btn-card">
						<div class="card-body btn-card-body">
							<div class="btn-group-vertical">
		 						<button class="btn default">[[#{my.default}]]</button>
		 						<button class="btn check-email">[[#{my.checkemail}]]</button>
		 						<button class="btn change-info">[[#{my.changeinfo}]]</button>
		 						<button class="btn change-pw">[[#{my.changepw}]]</button>
		 						<button class="btn change-profile">[[#{my.changeprofileimage}]]</button>
		 						<button class="btn withdrawal">[[#{my.withdrawal}]]</button>
							</div>
						</div>
					</div>
    			</div>
    			<div class="col text-center" layout:fragment="content"></div>
  			</div>
		</div>
		
	
		<div class="row" th:insert="fragments/footer :: footer"></div>
	</div>	
	<div th:insert="fragments/pageForm :: pageForm"></div>
	<div class="row" th:insert="modal/waitingModal :: waitingModal"></div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"/>
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/addd4c8dc0.js"
		crossorigin="anonymous"></script>
	<script th:inline="javascript" th:src="@{'/js/moveUsingForm.js'}"></script>
	<script th:inline="javascript">
	const csrf = JSON.parse('[[${_csrf}]]');
	$("#myModal").modal('hide');
	$(document).on({
		ajaxStart : function() {
			$("#myModal").modal('show');
		},
		ajaxStop : function() {
			$("#myModal").modal('hide');
		},
		ajaxError : function(){
			$("#myModal").modal('hide');
		}
		
	});
	$.ajaxSetup({
		beforeSend : function(xhr) {
			xhr.setRequestHeader(csrf.headerName,csrf.token);
		}
	});
	const emailsendmsg = "[(#{member.emailsend})]";
	const alreadyemailmsg = "[(#{my.alreadyemail})]";
	const cannotchangepwmsg="[(#{my.cannotchangepw})]";
	const userid = [[${#authentication.principal.member.userid} == null?null:${#authentication.principal.member.userid}]];
	const useremail = [[${#authentication.principal.member.useremail}]];
	
	
	console.log(userid);
	$(".default").click(function(e){
		e.preventDefault();
		moveUsingForm(
				"pageForm",
				"/my/default",
				-1
		);
	});
	$(".check-email").click(function(e){
		e.preventDefault();
		if(userid == null){
			alert(alreadyemailmsg);
			return;
		}
		let sendData = {
				userid:userid,
				useremail:useremail
		}
		$.ajax({
			url:"/my/checkemail",
			type:"post",
			contentType:"application/json",
			data:JSON.stringify(sendData),
			success:function(data){
				alert(emailsendmsg);
			},
			error:function(data){
				if(data.responseText == "alreadycheck"){
					alert(alreadyemailmsg);
				}else{
					alert("error occur!");
					console.log(data);
				}
			}
		});
	});
	$(".change-info").click(function(e){
		e.preventDefault();
		moveUsingForm(
				"pageForm",
				"/my/changeinfo",
				-1
		);
	});
	$(".change-pw").click(function(e){
		if(userid == null){
			alert(cannotchangepwmsg);
			return;
		}
		e.preventDefault();
		moveUsingForm(
				"pageForm",
				"/my/changepw",
				-1
		);
	});
	$(".change-profile").click(function(e){
		e.preventDefault();
		moveUsingForm(
				"pageForm",
				"/my/changeprofile",
				-1
		);
	});
	$(".withdrawal").click(function(e){
		e.preventDefault();
		moveUsingForm(
				"pageForm",
				"/my/withdrawal",
				-1
		);
	});
	$(".locale-ko-btn").click(function(e){
		e.preventDefault();
		window.location.href = window.location.href.split('?')[0]+"?locale=ko";
	});
	$(".locale-en-btn").click(function(e){
		e.preventDefault();
		window.location.href = window.location.href.split('?')[0]+"?locale=en";
	});
	$(".boardindex-btn").click(function(e){
		e.preventDefault();
		window.location.href = "/";
	});
	$(".freeboard-btn").click(function(e){
		e.preventDefault();
		window.location.href = "/freeboard/boards";
	});
	</script>
	<th:block layout:fragment="script">
		
	</th:block>
</body>
</html>