<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/main_layout}">
<head>
<meta charset="UTF-8">
<style>
.ck-content {
	min-height: 400px;
}
.btn{
	margin-top:10px;
	margin-left:10px;
}
</style>
</head>
<div layout:fragment="content">
	<section>
		<div>
			<h1 class="float-left">[[#{belowmy.whatiwrote}]]</h1>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">[[#{board.title}]]</th>
					<th scope="col">[[#{board.regdate}]]</th>
				</tr>
			</thead>
			<tbody class="boardlist">
			</tbody>
		</table>
		<ul class="pagination justify-content-center">
		</ul>
	</section>
</div>
<th:block layout:fragment="script">
<script th:inline="javascript" th:src="@{'/js/log.js'}"></script>
<script th:inline="javascript">
let passParam = {
		page:1,
		size:10,
		keyword:useremail
}
let listGet = function(){
	$.getJSON("/mylog/myboards",passParam,function(data){
		let inserted = "";
		console.log(data.result.content);
		console.log(getLogAddress(data.result.content[0][1]));
		data.result.content.forEach(function(row){
			inserted += "<tr>";
			inserted += "	<th scope='row'>"+row[0].bno+"</th>";
			inserted += "	<td><a href='/"+getLogAddress(row[1])+"/boards/"+row[0].bno+"'>"+row[0].title+"</a></td>";
			inserted += "	<td>"+row[0].updatedate+"</td>";
			inserted += "</tr>";
		});
		$(".boardlist").html("");
		$(".boardlist").append(inserted);
		$("td a").click(function(e){
			e.preventDefault();
			const address = $(this).attr("href");
			moveUsingForm(
					"pageForm",
					address,
					-1
			);
		})
		inserted = "";
		if(data.prevPage != null){
		inserted += "<li class='page-item'><a class='page-link' href='"+(data.prevPage.pageNumber+1)+"'>PREV</a></li>";
		}
		data.pageList.forEach(function(row){
		let active = "";
		if(row.pageNumber == data.currentPageNum-1){
			active = " active";
		}
		inserted += "<li class='page-item"+active+"'><a class='page-link' href='"+(row.pageNumber+1)+"'>"+(row.pageNumber+1)+"</a></li>";
		});
		if(data.nextPage != null){
		inserted += "<li class='page-item'><a class='page-link' href='"+(data.nextPage.pageNumber+1)+"'>NEXT</a></li>";
		}
		$(".pagination").html("");
		$(".pagination").append(inserted);
		$("li a").click(function(e){
			e.preventDefault();
			const no = $(this).attr("href");
			passParam.page = no;
			listGet();
		});
		
	});
}
listGet();
</script>
</th:block>
</html>